
@import "flickity.min.css";
@import "normalize";

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

[class*="col-"] {
    width: 100%;
    padding: 12px;
    float: left;
}

.container {
    max-width: 1200px;
    margin: auto;

}
.clearfix::before, .clearfix::after {
    content: "";
    clear: both;
    display: table;
}
a:link{
    text-decoration: none;
}
// main carousel

.carousel-cell{
	width: 100%;
	margin-right: 10px;
}
.carouselimage{
	height: 600px;
	width: 100%;
	
}
.carousel-cell.is-selected {
  background: #F5F5F2;
}
/* smaller, dark, rounded square */
.flickity-button {
  background: #333;
}
.flickity-button:hover {
  background: #F90;
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}
/* position outside */
.flickity-prev-next-button.previous {
	left: -40px;
	top: 50%;
}
.flickity-prev-next-button.next {
  right: -40px;
  top: 50%;
}
.flickity-slider{
	max-height: 700px;
}
ol.flickity-page-dots{
	display: none;
}

body{
	max-height: 800px;
}
#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
}