
@import "flickity.min.css";
@import "normalize";

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.container {
    max-width: 1200px;
    margin: auto;

}
.clearfix::before, .clearfix::after {
    content: "";
    clear: both;
    display: table;
}
a:link{
    text-decoration: none;
}
// main carousel

.carousel-cell{
	width: 100%;
	margin-right: 10px;
}
.carouselimage{
	height: 600px;
	width: 100%;
	
}
.carousel-cell.is-selected {
  background: #F5F5F2;
}

body{
	max-height: 800px;
  text-align: center;
}
// google maps
#map {
        height: 700px;  /* The height is 400 pixels */
        width: 1200px;  /* The width is the width of the web page */
       text-align: center;
} 
h3{
  text-align: center;
}
.maps_box{
  margin-top: 100px;
  text-align: -webkit-center;
}
.buttonmap{
    width: 70px;
    height:50px;
    border-radius: 10px;
    margin: 10px;
}
p .clickfeedback{
  color: black;
  text-align: center;
}


